@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Conta - PokeAwesome</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="img/icons/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/72x72.png">
    <link rel="apple-touch-icon-precomposed" href="img/icons/default.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/owl.theme.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/owl.transitions.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <!--Your custom colour override - predefined colours are: colour-blue.css, colour-green.css, colour-lavander.css, orange is default-->
    <link href="#" id="colour-scheme" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.22.2/sweetalert2.min.css" rel="stylesheet" />

    <link rel="icon"
          type="image/jpg"
          href="~/img/slides/logoPikachu.png" />
    <!-- =======================================================
      Theme Name: Flexor
      Theme URL: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>


<body class="page-elements">
    <!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->
    <div id="background-wrapper" class="benches" data-stellar-background-ratio="0.8">

        <div id="navigation" class="wrapper">
            <!--Header & navbar-branding region-->
            <div class="header">
                <div class="header-inner container">
                    <div class="row">
                        <div class="col-md-8">
                            <!--navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
                            <a class="navbar-brand" href="/Home">
                                <img src="~/img/slides/logo1.png" class="img-responsive" alt="PokeAwesome Logo" style="width: 200px; height: 100px;" />
                            </a>
                        </div>
                        <!--header rightside-->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="col-md-4">
                                <ul class="list-inline user-menu pull-right">
                                    <li class="user-login"><i class="fa fa-sign-in text-primary"></i> <a href="/Account" class="text-uppercase">@User.Identity.Name</a></li>
                                    <li class="user-login"><i class="fa fa-sign-in text-primary"></i> <a href="/Authentication/Logout" class="text-uppercase">Sair</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <!--header rightside-->
                            <div class="col-md-4">
                                <ul class="list-inline user-menu pull-right">
                                    <li class="user-register"><i class="fa fa-edit text-primary "></i> <a href="/Authentication/Register" class="text-uppercase">Cadastre-se</a></li>
                                    <li class="user-login"><i class="fa fa-sign-in text-primary"></i> <a href="/Authentication/Login" class="text-uppercase">Entrar</a></li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="navbar navbar-default">
                    <!--mobile collapse menu button-->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <!--social media icons-->
                    <div class="navbar-text social-media social-media-inline pull-right">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <!--everything within this div is collapsed on mobile-->
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" id="main-menu">
                            <li class="icon-link">
                                <a href="/Home"><i class="fa fa-home"></i></a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="/Account">Minha Conta</a></li>
                            }
                            else
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Conta<b class="caret"></b></a>
                                    <!-- Dropdown Menu -->
                                    <ul class="dropdown-menu">
                                        <li><a href="/Authentication/Login" tabindex="-1" class="menu-item">Entrar</a></li>
                                        <li><a href="/Authentication/Register" tabindex="-1" class="menu-item">Registrar-se</a></li>
                                    </ul>
                                </li>
                            }
                            <li><a href="/Download">Download</a></li>
                            <li class="dropdown dropdown-mm">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">GUIAS<b class="caret"></b></a>
                                <!-- Dropdown Menu -->
                                <ul class="dropdown-menu dropdown-menu-mm dropdown-menu-persist">
                                    <li class="row">
                                        <ul class="col-md-6">
                                            <li class="dropdown-header">Sobre o jogo</li>
                                            <li><a href="#">Onde consigo encontrar o mapa?</a></li>
                                            <li><a href="#">Como começar a jogar?</a></li>
                                            @*<li><a href="#">User Interface Design / UI Design</a></li>
                                                <li><a href="#">Code &amp; Development / Implementation &amp; Support</a></li>*@
                                        </ul>
                                        <ul class="col-md-6">
                                            <li class="dropdown-header">Soluções</li>
                                            <li><a href="#">Suporte</a></li>
                                            <li><a href="#">Report</a></li>
                                            @*<li><a href="#">Quality Assurance</a></li*@
                                        </ul>
                                    </li>
                                    <li class="dropdown-footer">
                                        <div class="row">
                                            <div class="col-md-7">Você ainda não possuí nosso cliente? <strong>Baixe agora e começe a jogar.</strong></div>
                                            <div class="col-md-5">
                                                <a href="http://www.mediafire.com/file/dfi8h7itr70t16u/PokeAwesomeInstall.exe/file" class="btn btn-more btn-lg pull-right"><i class="fa fa-cloud-download"></i> Baixar Agora</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.navbar-collapse -->
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <div class="col-md-12">
                <img src="~/img/slides/logowindows.jpg" style="margin: 0 auto !important;" class="img-responsive" alt="Logo Windows">

                <h3 class="text-center" style="font-weight: bold;">Recomendações</h3>
                <p class="text-center">Sistema Operacional: Windows 7 +</p>
                <p class="text-center">Hd: 10Gb</p>
                <p class="text-center">Processador: Quad-Core +</p>
                <p class="text-center">Não é necessário placa de video</p>
                <div class="col-md-2 col-md-offset-5">
                    <a href="http://www.mediafire.com/file/dfi8h7itr70t16u/PokeAwesomeInstall.exe/file" class="btn btn-more btn-lg text-center"><i class="fa fa-cloud-download"></i> Baixar Agora</a>
                </div>

            </div>
        </div>
    </div>

    <!-- ========Region: #footer ======== -->
    <footer id="footer" class="block block-bg-grey-dark" data-block-bg-img="img/bg_footer-map.png" data-stellar-background-ratio="0.4">
        <div class="container">

            <div class="row" id="contact">

                <div class="col-md-3">
                    <address>
                        <strong>PokeAwesome Server</strong>                        
                        <br>
                        <i class="fa fa-envelope-o fa-fw text-primary"></i> pawesomesuporte@gmail.com
                        <br>
                    </address>
                </div>

                <div class="col-md-6">
                    <h4 class="text-uppercase">
                        Contate-nos
                    </h4>
                    <div class="form">
                        <div id="sendmessage">Sua mensagem foi enviada com sucesso!</div>
                        <div id="errormessage"></div>
                        <form action="/Home/Contact" method="post" role="form" class="contactForm" id="form-contact">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Seu nome" data-rule="minlen:4" data-msg="Por favor, digite 4 caractéres" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" data-rule="email" data-msg="Por favor, utilize um e-mail válido" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Título" data-rule="minlen:4" data-msg="Por favor, digite 8 caractéres para o título" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="message" name="message" rows="5" data-rule="required" data-msg="Por favor, escreva alguma coisa para nós" placeholder="Mensagem"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
                        </form>
                    </div>
                </div>

                <div class="col-md-3">
                    <h4 class="text-uppercase">
                        Siga-nos no:
                    </h4>
                    <!--social media icons-->
                    <div class="social-media social-media-stacked">
                        <!--todo: replace with company social media details-->
                        <a href="#"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
                        <a href="#"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
                        <a href="#"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
                        <a href="#"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
                    </div>
                </div>

            </div>

            <div class="row subfooter">
                <!--todo: replace with company copyright details-->
                <div class="col-md-7">
                    <p>Copyright © PokeAwesome</p>
                    <div class="credits">
                        <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Flexor
                        -->
                        Desenvolvido por <a href="https://bootstrapmade.com/">PokeAwesome Dev</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <ul class="list-inline pull-right">
                        @*<li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>*@
                        <li><a href="#">Contate-nos</a></li>
                    </ul>
                </div>
            </div>

            <a href="#top" class="scrolltop">Top</a>

        </div>
    </footer>

    <!-- Required JavaScript Libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/stellar/stellar.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/contactform/contactform.js"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script src="~/js/custom.js"></script>

    <!--Custom scripts demo background & colour switcher - OPTIONAL -->
    <script src="~/js/color-switcher.js"></script>

    <!--Contactform script -->
    <script src="~/contactform/contactform.js"></script>

    <script src="~/js/Pages/addPlayers.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.22.2/sweetalert2.min.js"></script>

</body>

</html>

