
@{
    ViewData["Title"] = "_AlterPassword";
}

<div class="col-md-6">
    <label>Senha nova</label>
    <input type="password" class="form-control" id="txt-senha-nova-player" placeholder="Digite sua nova senha" />
</div>
<div class="col-md-6">
    <label>Confirme a nova senha</label>
    <input type="password" class="form-control" id="txt-confirm-senha-nova-player" placeholder="Confirme sua nova senha" />
</div>
<div class="col-md-6">
    <label>Senha Antiga</label>
    <input type="password" class="form-control" id="txt-senha-antiga-player" placeholder="Digite sua senha antiga" />
</div>

<div class="col-md-12" style="padding-top: 15px;">
    <button class="btn btn-success" type="button" onclick="AlterPassword();">Alterar</button>
</div>